@model IEnumerable<Locals.Models.Imovel>

@{
    ViewData["Title"] = "Index";
}

<style>
    #txt {
        padding-top: 30px;
    }
</style>

<h1 id ="txt">Categorias</h1>

<p>
    <a asp-action="Create">Adicionar novo imóvel</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeImovel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoCurta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoDetalhada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.IsImovelDestaque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disponivel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeImovel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoCurta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoDetalhada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.IsImovelDestaque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disponivel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.CategoriaNome)
            </td>
          
            <td>
                <a asp-action="Edit" asp-route-id="@item.ImovelId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ImovelId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.ImovelId">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
